

<div class="comments">
	<script src="https://giscus.app/client.js"
        	data-repo="sawker/sawker.github.io"
        	data-repo-id="R_kgDOS3lI1A"
        	data-category="Announcements"
        	data-category-id="DIC_kwDOS3lI1M4C_kW8"
        	data-mapping="pathname"
        	data-strict="0"
        	data-reactions-enabled="1"
        	data-emit-metadata="0"
        	data-input-position="bottom"
        	data-theme="preferred_color_scheme"
        	data-lang="es"
        	crossorigin="anonymous"
        	async>
	</script>
</div>
